<template>
    <v-app :style="{background: $vuetify.theme.themes.dark.background}">
        <SideBar />
        <RightSideBar />

        <v-container>
            <v-toolbar  flat color="transparent">
                <v-btn icon dark class="d-lg-none d-xl-flex" @click.stop="drawer = !drawer">
                    <v-icon>mdi-menu</v-icon>
                </v-btn>
                <v-spacer></v-spacer>

                <v-text-field label="Search on maufarm" class="pt-5 d-none d-sm-flex" dark filled prepend-inner-icon="mdi-magnify" solo flat background-color="transparent" rounded outlined>
                </v-text-field>

                <v-spacer></v-spacer>

                <v-btn dark class="mr-2">
                    <v-icon left>fas fa-filter</v-icon> filter
                </v-btn>
                
                <v-btn dark class="mr-2">
                    <v-icon left>fas fa-upload</v-icon> Export 
                </v-btn>
            </v-toolbar>

            <h1 class="white--text">SALES</h1>
            <p class="grey--text">
                A Great Way To Generate All The Motivation You Need To Get Fit
            </p> 

            <v-app-bar dark color="transparent" flat>
                <v-tabs color="#6F0DFF">
                    <v-tabs-slider color="#6F0DFF"></v-tabs-slider>
                    <v-tab class="wi">Fulltillment Status Views</v-tab>
                    <v-tab class="">Real-time Tracking</v-tab>
                    <v-tab class="">Sales View</v-tab>
                    <v-tab class="">Balances</v-tab>
                    <v-tab class="">Transactions</v-tab>
                    <v-tab class="">Engagement Rate</v-tab>
                </v-tabs>
                <v-spacer></v-spacer>

                <v-btn dark text class="d-none d-sm-flex">
                    <v-icon left>mdi-magnify</v-icon>
                    SEARCH
                </v-btn>

                <v-btn rounded color="white" class="black--text">
                    List
                    <v-icon right>mdi-format-list-bulleted</v-icon>
                </v-btn>

                <v-btn icon>
                    List
                    <v-icon></v-icon>
                </v-btn>

            </v-app-bar>


        </v-container>
    </v-app>
</template>

<script>
    import SideBar from '../components/SideBar'
    import RightSideBar from '../components/RightSideBar'

    export default {
        name: 'Home',
        components: {
            SideBar,
            RightSideBar,
        },
    }

</script>
